:root {
    --odd-color: #a2d149;
    --even-color: #aad751;
    --odd-clicked-color: #d7b899;
    --even--clicked-color: #e5c29f;
    --odd-hover-color: #dcf7ab;
    --even-hover-color: #dce7c6;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    // @media only screen and (max-width: 43.75em) {
    //     font-size: 50%;
    // }
    // @media only screen and (max-width: 35.6em) {
    //     font-size: 42.5%;
    // }
}

body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #faf8ef;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // background-color: #faf8ef;
    width: 100vw;
    overflow: hidden;
    // height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 2rem;
    margin-inline: auto;
    background-color: #4a752c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
    color: #f1f5ee;
}

.difficulty-form {
    margin-left: 2rem;
}

.sound {
    margin-right: 2rem;
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &__flag {
        line-height: 1;
    }
}

.game {
    height: 50vh;
    width: 50vh;
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    z-index: 1;
    gap: 0;
    margin-inline: auto;

    &__cell {
        --border-initial: #8fcf53;
        --border-changed: #769b32;

        --color-text: black;

        --border-first: inset 0 4px 1px -2px var(--border-initial);

        box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.18),
            inset 0 4px 1px -2px var(--border-initial), inset -4px 0 1px -2px var(--border-initial),
            inset 0 -4px 1px -2px var(--border-initial), inset 4px 0 1px -2px var(--border-initial);
        aspect-ratio: 1/1;
        color: var(--color-text);
        font-size: 2.4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &--flag {
            font-size: 1.7rem;
            position: absolute;
            opacity: 0.2;
            top: 100%;
            transition: all 0.3s;
            transform: scale(1) rotate(0deg) translate(-50%, -50%);
            left: 50%;
        }

        &--animation::before {
            content: "";
            position: absolute;
            background-color: var(--odd-color);
            width: 100%;
            height: 100%;
            animation: pos 0.4s forwards cubic-bezier(0.18, -1.56, 0.77, 0.88), pop 0.9s forwards;
        }

        &--odd {
            background-color: var(--odd-color);

            &.clicked {
                background-color: var(--odd-clicked-color);
                box-shadow: none;
            }
        }
        &--even {
            background-color: var(--even-color);

            &.clicked {
                background-color: var(--even--clicked-color);
                box-shadow: none;
            }
        }
    }
}

.overlay {
    transition: all 1s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 102, 68, 0.171);
    z-index: 20;
    transition: all 1s;

    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.cell__overlay {
    border: none;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: inset 0px 0px 0px 500px rgba(248, 250, 159, 0.45);
        z-index: 1000;
        width: 100%;
        height: 100%;
    }
}

.hidden {
    display: none;
}

@keyframes pos {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.2);
        opacity: 0;
        top: 100%;
    }
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.bomb {
    --bomb-color: red;
    --bomb-bg: blue;
    background-color: var(--bomb-bg);
    box-shadow: none !important;
    transition: all 0.8s;

    &::after {
        content: "";
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: var(--bomb-color);
    }
}

.summary {
    --summary-width: 20vw;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    transition: all 1s;
    width: var(--summary-width);
    margin-inline: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;

    &__score-box {
        background-color: rgb(107, 182, 129);
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 9px;

        &--left,
        &--right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        }
    }

    &__icon {
        width: 7rem;
        height: 7rem;
    }
    &__score-text {
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        letter-spacing: 2;
    }

    &__btn {
        padding: 1rem;
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        color: #fff;
        border: none;
        background-color: rgb(72, 129, 89);
        border-radius: 9px;
        gap: 2rem;
        transition: all 0.3s;
        transform: scale(1);
        cursor: pointer;

        &:hover {
            background-color: rgb(60, 107, 74);
            transform: scale(1.02);
        }

        &:active {
            background-color: rgb(64, 114, 79);
            transform: scale(0.98);
        }
    }

    &__btn--icon {
        width: 3rem;
    }
}
